<p><%= @order.name %>さんが晩メシを食べようと言っています。</p>
<p><%= @order.name %>さんは<%= @order.comment %>と言っています。<p/>
  <p>name<br>
  <input type="text" name="name"></p>
  <input type="submit" name="commit" value="参加する!!" class="btn btn-danger">
