<h1 id="buttons">晩メシ!</h1>

<form action="/orders" method="POST">
<p>name<br>
<input type="text" name="name"></p>
<p>comment<br>
<input type="text" name="comment"></p>

<input type="submit" name="commit" value="今日の晩メシを主催する" class="btn btn-warning">
</form>
