<p>晩メシ!</p>

<form action="/orders" method="GET">
<p>name<br>
<input type="text" name="name"></p>
<p>comment<br>
<input type="text" name="comment"></p>

<input type="submit" name="commit" value="今日の晩メシを主催する">
</form>
